
@{
    ViewData["Title"] = "Logs";
}

<div class="card">
    <div class="card-header">
        รายงาน Log การใช้งาน IVR
    </div>
    <div class="card-body">

        <form>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-4">
                    <label for="inputState">คำค้น</label>
                    <input type="text" class="form-control" id="inputCity" name="Name">
                </div>
                <div class="form-group col-md-4">
                    @*<label for="inputCity">กรองจาก</label>
                        <select id="inputState" class="form-control">
                            <option selected>ทั้งหมด</option>
                            <option>...</option>
                        </select>*@
                </div>
            </div>

            <div class="form-row justify-content-center">
                <div class="form-group col-md-4">
                    <label for="inputCity">สถานะ</label>
                    <select id="inputState" class="form-control">
                        <option selected>ทั้งหมด</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">หมายเลขบริการ</label>
                    <select id="inputState" class="form-control">
                        <option selected>*137 : บริการสมัคร...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-4">
                    <label for="inputCity">วันที่เริ่มต้น</label>
                    <select id="inputState" class="form-control">
                        <option selected>...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">วันที่สิ้นสุด</label>
                    <select id="inputState" class="form-control">
                        <option selected>...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">ค้นหา</button>
                    &nbsp; &nbsp;
                    <button type="submit" class="btn btn-secondary">ล้าง</button>
                </div>
            </div>
        </form>

        <div class="result">
            <img src="/img/SampleReport_Log.png" class="w-100" />
        </div>

    </div>
</div>

<div class="mt-4"></div>

<div class="card">

    <div class="card-body">

        <div id="dvTotalItems">ผลการค้นหา <label id="lblTotalItems"></label> รายการ</div>
        <table class="table table-sm table-striped" id="tblResults">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">รหัส</th>
                    <th scope="col">หมายเลขบริการ</th>
                    <th scope="col">วันที่เริ่มต้น</th>
                    <th scope="col">สถานะ</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                    <td width="5%" scope="row">@(10 * (Model.PageIndex - 1) + i + 1)</td>
                    <td width="15%">@Model[i].EventCode</td>
                    <td>@Model[i].EventName</td>
                    <td width="15%">@(Model[i].Status == 1 ? "ใช้งาน" : "ไม่ใช้งาน")</td>
                    <td width="15%">
                        <form method="post" asp-action="Delete">
                            <a class="btn-circle btn-sm btn-success" asp-action="Edit" asp-route-id="@Model[i].EventId">แก้ไข</a>
                            <input type="hidden" name="MEventId" value="@Model[i].EventId" />
                            <button class="btn-circle btn-sm btn-warning" type="button">ลบ</button>
                        </form>
                    </td>
                </tr>*@
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination" id="ulPagination">
                @*<li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>*@
            </ul>
        </nav>

    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        //var appUserId = @ViewBag.AppUserId;
        //console.log('appUserId=', appUserId);

    </script>

    <script src="~/js/pages/ivr-logs.js"></script>
}
